{
    "jsc": {
        "parser": {
            "syntax": "ecmascript"
        },
        "target": "es2015",
        "loose": true,
        "minify": {
            "compress": true,
            "mangle": true
        },
        "externalHelpers": false
    },
    "minify": true,
    "module": {
        "type": "commonjs"
    }
}
